<div class="container">
  <h1>Adicionar Carro para Venda</h1>
  <form [formGroup]="carroForm">
    <div class="form-group">
      <label for="marca">Marca:</label>
      <input
        type="text"
        class="form-control"
        id="marca"
        placeholder="Digite a marca do carro"
        formControlName="marca"
      />
    </div>
    <div class="form-group">
      <label for="modelo">Modelo:</label>
      <input
        type="text"
        class="form-control"
        id="modelo"
        placeholder="Digite o modelo do carro"
        formControlName="modelo"
      />
    </div>
    <div class="form-group">
      <label for="ano">Ano:</label>
      <input
        class="form-control"
        id="ano"
        placeholder="Digite o ano do carro"
        formControlName="ano"
        type="number"
      />
      <div *ngIf="carroForm.get('ano')?.invalid">
        <div
          *ngIf="carroForm.get('ano')?.hasError('required')"
          class="alert alert-danger"
        >
          Ano é obrigatório.
        </div>
        <div
          *ngIf="carroForm.get('ano')?.hasError('min')"
          class="alert alert-danger"
        >
          Ano deve ser maior ou igual a 1990.
        </div>
        <div
          *ngIf="carroForm.get('ano')?.hasError('max')"
          class="alert alert-danger"
        >
          Ano deve ser menor ou igual a 2023.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="preco">Preço:</label>
      <input
        type="text"
        class="form-control"
        id="preco"
        placeholder="Digite o preço do carro"
        formControlName="preco"
        (input)="formatPrice($event)"
      />
    </div>

    <div class="form-group">
      <label for="descricao">Descrição:</label>
      <textarea
        class="form-control"
        id="descricao"
        rows="3"
        placeholder="Digite uma descrição do carro"
        formControlName="descricao"
      ></textarea>
      <div
        *ngIf="carroForm.get('descricao')?.hasError('required')"
        class="alert alert-danger"
      >
        Descrição é obrigatória.
      </div>
    </div>
    <div class="form-group">
      <label for="foto">Foto:</label>
      <label class="image-upload-container btn btn-bwm">
        <input
          #imageInput
          type="file"
          accept="image/*"
          (change)="processFile($event)"
        />
      </label>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="carroForm.invalid"
      (click)="saveCar()"
    >
      Adicionar Carro
    </button>
  </form>
</div>
