<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Usuário</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container">
      <h1>Editar Usuário</h1>
      <div class="form-group">
        <label for="login">login:</label>
        <input
          type="text"
          class="form-control"
          id="login"
          placeholder="Digite o login do usuário"
          required="true"
          [(ngModel)]="login"
        />
      </div>
      <div class="form-group">
        <label for="nome">Nome:</label>
        <input
          type="text"
          class="form-control"
          id="nome"
          placeholder="Digite o nome do usuário"
          required="true"
          [(ngModel)]="nome"
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          class="form-control"
          id="email"
          placeholder="Digite o email do usuário"
          required
          [(ngModel)]="email"
        />
      </div>
      <div class="form-group">
        <label for="senhaAtual">Senha Atual:</label>
        <input
          type="password"
          class="form-control"
          id="senhaAtual"
          placeholder="Digite a senha atual"
          required
        />
      </div>
      <div class="form-group">
        <label for="novaSenha">Nova Senha:</label>
        <input
          type="password"
          class="form-control"
          id="novaSenha"
          placeholder="Digite a nova senha (opcional)"
          [(ngModel)]="senha"
        />
      </div>
      <div class="form-group">
        <label for="confirmarSenha">Confirmar Senha:</label>
        <input
          type="password"
          class="form-control"
          id="confirmarSenha"
          placeholder="Confirme a nova senha (opcional)"
        />
      </div>
      <button type="submit" class="btn btn-primary" (click)="update()">
        Salvar
      </button>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
